<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vhall.opensdk">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".watchlive.LivePlayerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation" />
        <activity
            android:name=".push.PushActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".watchplayback.VodPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".document.DocActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".im.IMActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interactive.InteractiveActivity"
            android:configChanges="keyboardHidden|screenSize|orientation" />

        <activity
            android:name=".ConfigActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".document.UploadDocumentActivity" />
        <activity
            android:name=".screenRecord.ScreenRecordActivity"
            android:launchMode="singleTask" />

        <service android:name=".screenRecord.ScreenService" /> <!-- 文档上传使用 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.vhall.opensdk"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>